*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/assets/backgroundmakeup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    border: 2px solid red;
    height: 65px;
    background-color: #1C1B1A;
    margin: 3px auto;
    padding: 50px;
    width: 85%;
}

.left{
    border: 2px solid rgb(203, 152, 22);
    display: inline-block;
    margin: 5px;
    position: relative;
    top: -51px;
    left: -22px;
}

.left img{
    height: 73px;
}

.left h4{
    color: #ffffff;
    text-align: center;
    position: relative;
    top: -9px;
}

.center{
    border: 2px solid rgb(62, 208, 14);
    display: inline-block;
    width: 55%;
    margin: -20px auto;
    padding: 11px;
    position: relative;
    top: -108px;
}

.list ul{
    list-style: none;
    display: inline-block;

    
}

.list ul li a{
    text-decoration: none;
    color: #ffffff;
}

.right{
    border: 2px solid rgb(0, 89, 255);
    display: inline-block;
    position: absolute;
    right: 60px;
    top: 30px;
    padding: 8px;
}