*{
  box-sizing: border-box;
}

img{
  height: 110px;
  /* border: 2px solid red; */
  display: block;
  margin: auto;
}

h3{
  /* display: inline; */
  text-align: center;
}

.container{
  /* border: 2px solid orangered; */
  width: 1300px;
  margin: auto;
}

.box{
  /* border: 2px solid rgb(20, 39, 185); */
  background-color: rgb(234, 224, 212);
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  padding: 22px;
  margin: 4px 0px;
}